*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#body{
    display: flex;
    position: relative;
    margin: 0;
    height: 97svh;
    width: 100%;
}
#remove{
    position: relative;
    z-index: 1;
}
#undo{
    position: relative;
    z-index: 1;
}
.div{
    user-select: none;
}